<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Bil - Bosses Trafikskola</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
    integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <link rel="stylesheet" href="main.css">

  <!--FAVICONS-->
  <link rel="apple-touch-icon" sizes="180x180" href="/favicons/apple-touch-icon.png">
  <link rel="icon" type="image/png" sizes="32x32" href="/favicons/favicon-32x32.png">
  <link rel="manifest" href="/favicons/site.webmanifest">
  <link rel="mask-icon" href="/favicons/safari-pinned-tab.svg" color="#5bbad5">
  <meta name="msapplication-TileColor" content="#da532c">
  <meta name="theme-color" content="#ffffff">
</head>

<body>
  <!--NAV-->
  <nav class="navbar navbar-expand-lg navbar-dark">
    <a class="navbar-brand" href="/"><img src="images/logga.png" width="150vh"></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar" aria-controls="navbar"
      aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="navbar-collapse collapse" id="navbar">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link" id="link" href="/">Start</a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" id="link" href="#" id="dropdownMenu" data-toggle="dropdown"
            aria-haspopup="true" aria-expanded="false">Priser</a>
          <div class="dropdown-menu animate slide-in" aria-labelledby="dropdownMenu">
            <a class="dropdown-item" id="link" href="carInfo">Bil</a>
            <a class="dropdown-item" id="link" href="mopedInfo">Moped</a>
          </div>
        </li>
        <li class="nav-item">
          <a class="nav-link" id="link" href="contact">Kontakta oss</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" id="link" href="location">Hitta hit</a>
        </li>
      </ul>

    </div>
  </nav>
  <!--NAV END-->

  <!--HEADER-->
  <div class="jumbotron jumboColor pb-0">
    <div class="container">
      <div class="col-md-8 pl-0">
        <h3 class="title">Personbil</h3>
        <p>Ett av våra mest poplära körkort att ta på skolan. Vi har en mängd olika erbjudanden så att just du ska kunna
          ta ditt körkort på enklaste, snabbaste och bästa sätt. Det är viktigt för oss att du får lektioner som passar
          <em>ditt</em> schema, därför erbjuder vi ett varierande utbud.</p>
      </div>
    </div>
  </div>
  <!--HEADER END-->

  <!--TABLE-->
  <div class="container">
    <div class="card">
      <table class="table table-hover">
        <caption class="pl-2 pb-0 pt-0">*Vid köp av intensivkurs så ingår detta.</caption>
        <caption class="pl-2 pb-0">**Vid återbetalning av paket erhålles ej rabatter.</caption>
        <caption class="pl-2 pb-0">***Vid köp av intensivkurs eller 10 pkt så ingår detta.</caption>
        <thead class="thead-dark">
          <tr>
            <th scope="col">Kurser och böcker</th>
            <th scope="col">Information</th>
            <th scope="col">Pris</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>Startpaket Personbil</td>
            <td>Teoriavgift + 3 st körlektioner (körhäfte ingår ej).</td>
            <td>1765:-</td>
          </tr>
          <tr>
            <td>1 st körlektion </td>
            <td>En lektion på 40 minuter.</td>
            <td>430:-</td>
          </tr>
          <tr>
            <td>5 st körlektioner</td>
            <td>Fem lektioner på 40-80 minuter (gäller endast förskottsbetalning).</td>
            <td>2050:-</td>
          </tr>
          <tr>
            <td>10 st körlektioner</td>
            <td>Tio lektioner på 40-80 minuter (gäller endast förskottsbetalning).</td>
            <td>3950:-</td>
          </tr>
          <tr>
            <td>Bilhyra vid prov</td>
            <td>Man måste ha kört minst 10st körlektioner hos oss vid lån av bil.*</td>
            <td>500:-</td>
          </tr>
          <tr>
            <td>Intensivkurs 2 veckor</td>
            <td>Teoriavgift + 19 st körlektioner.**</td>
            <td>7540:-</td>
          </tr>
          <tr>
            <td>Handledarkurs</td>
            <td>"Licens" för att vara handledare.</td>
            <td>295:-</td>
          </tr>
          <tr>
            <td>Riskutbildning Del 1</td>
            <td>Obligatorisk utbildning för att lära sig om riskerna i trafiken.*</td>
            <td>500:-</td>
          </tr>
          <tr>
            <td>Riskutbildning Del 2</td>
            <td>Obligatorisk utbildning där man gör halkkörning i Ljungby.*</td>
            <td>1595:-</td>
          </tr>
          <tr>
            <td>Teoriavgift</td>
            <td>Teorilektioner + datatester</td>
            <td>975:-</td>
          </tr>
          <tr>
            <td>Körkortsboken</td>
            <td>Teoriboken för körkort B.*</td>
            <td>250:-</td>
          </tr>
          <tr>
            <td>BE-boken</td>
            <td>Teoriboken för körkort BE.</td>
            <td>250:-</td>
          </tr>
          <tr>
            <td>Körhäfte A, B, & C</td>
            <td>Uppgifter och övningar som är direkt kopplade till körkortsboken.***</td>
            <td>60:-/st</td>
          </tr>
          <tr id="hRuler">
            <td></td>
            <td></td>
            <td></td>
          </tr>
        </tbody>
      </table>
    </div>
    <!--TABLE END-->

    <!--INFORMATION-->
    <div class="jumbotron jumboColor pt-4 pl-0">
      <div class="container pl-0">
        <h3>Viktig information</h3>
        <p class="text-dark">
          Vi tar emot betalning via kontanter, bankgiro 5194-2985 och kort (ej American Express).
          <br>
          Avbokning/ändring av körlektion skall meddelas till kontoret dagen innan senast kl 15 annars sker
          fullbetalning av lektionen.
          <br><br>
          Om du kör ofta hos oss, det vill säga om du har köpt en intensivkurs eller ett 10 pkt, så får du 200kr rabatt
          på Riskutbildning Del 2. Priset är inräknat i intensivkursen, men inte i 10 pkt, detta för att
          riskutbildningen ingår i intensivkursen.
        </p>
      </div>
      <div class="container mb-5 pl-0">
        <div class="col-md-5 pl-0">
          <h5 class="font-weight-bold text-uppercase mt-4 mb-4">Notera</h5>
          <h6 class="pb-2">För att kunna ta ett B-körkort krävs det att:</h6>
          <div class="contact-links">
            <ul>
              <li>
                <em>Du har ett giltligt körkortstillstånd.</em>
              </li>
              <li>
                <em>Du är permament bosatt i Sverige eller har studerat här i minst sex månader.</em>
              </li>
              <li>
                <em>Du har fyllt 18 år.</em>
              </li>
              <li>
                <em>Du har gått riskutblidningen och båda delarna är giltliga.</em>
              </li>
              <li>
                <em>Du har gjort ett godkänt förarprov (kunskapsprov och körprov).</em>
              </li>
              <li>
                <em>Du har inget körkort som är utfärdat i någon annan stat inom EES-området.</em>
              </li>
            </ul>
          </div>
          <p> Om du har några frågor är du varmt välkommen att kontakta oss. </p>
        </div>
      </div>
    </div>
  </div>
  <!--INFORMATION END-->

  <!--FOOTER-->
  <footer class="page-footer font-small stylish-color-dark bg-dark pt-4">
    <div class="container text-center text-md-left">
      <div class="row">
        <div class="col-md-4 mx-auto">
          <h5 class="font-weight-bold text-uppercase mt-3 mb-4">Om oss</h5>
          <p>Vi på Bosses Trafikskola ser till att du som elev får den bästa möjliga utbildningen, så att du
            kan ta ditt körkort så snart som möjligt, och dessutom till ett lågt pris.
            <br><br>
            Hjärtligt välkommen till Bosses Trafikskola i Stenungsund, där eleven <em>alltid</em> är i centrum!</p>
        </div>

        <div class="col-md-2 mx-auto">
          <h5 class="font-weight-bold text-uppercase mt-3 mb-4">Länkar</h5>
          <div class="footer-links mx-auto">
            <ul class="list-inline">
              <li>
                <a href="https://www.transportstyrelsen.se/sv/vagtrafik/">Transportstyrelsen</a>
              </li>
              <li>
                <a href="https://www.transportstyrelsen.se/korkort">Körkortsportalen</a>
              </li>
              <li>
                <a href="https://www.trafikverket.se/">Trafikverket</a>
              </li>
              <li>
                <a href="https://www.str.se/">STR</a>
              </li>
            </ul>
          </div>
        </div>
        <div class="col-md-2 mx-auto">
          <h5 class="font-weight-bold text-uppercase mt-3 mb-4">Blanketter</h5>
          <div class="footer-links mx-auto">
            <ul class="list-inline">
              <li>
                <a
                  href="http://www.korkortsportalen.se/e-tjanster-blanketter/Information-om-ansokan-om-korkortstillstand-for-grupp-/">Körkortstillstånd</a>
              </li>
              <li>
                <a
                  href="http://www.korkortsportalen.se/e-tjanster-blanketter/Ansokan-om-handledarskap-steg-1/">Handledarskap</a>
              </li>
              <li>
                <a href="http://www.korkortsportalen.se/e-tjanster/">Körkortsportalen</a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>

    <hr>

    <ul class="list-unstyled list-inline text-center py-2">
      <li class="list-inline-item">
        <h5 class="mb-1">Anmäl dig redan idag!</h5>
      </li>
      <li class="py-2">
        <a href="/#cAction" class="btn btn-danger btn-rounded">Klicka här</a>
      </li>
    </ul>
    <hr>
    <div class="text-center py-3 blockquote-footer">
      <p>© 2020 Copyright: Bosses Trafikskola</p>
    </div>
  </footer>
  <!--FOOTER END-->

</body>
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
  integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
  integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
  integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

</html>