<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Startsida - Bosses Trafikskola</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
    integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <link rel="stylesheet" href="main.css">

  <!--FAVICONS-->
  <link rel="apple-touch-icon" sizes="180x180" href="/favicons/apple-touch-icon.png">
  <link rel="icon" type="image/png" sizes="32x32" href="/favicons/favicon-32x32.png">
  <link rel="manifest" href="/favicons/site.webmanifest">
  <link rel="mask-icon" href="/favicons/safari-pinned-tab.svg" color="#5bbad5">
  <meta name="msapplication-TileColor" content="#da532c">
  <meta name="theme-color" content="#ffffff">
</head>

<body>
  <!--NAV-->
  <nav class="navbar navbar-expand-lg navbar-dark">
    <a class="navbar-brand" href="/"><img src="images/logga.png" width="150vh"></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar" aria-controls="navbar"
      aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="navbar-collapse collapse" id="navbar">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link" id="link" href="/">Start</a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" id="link" href="#" id="dropdownMenu" data-toggle="dropdown"
            aria-haspopup="true" aria-expanded="false">Priser</a>
          <!--Double id, but neccessary to override Bootstrap selectors.-->
          <div class="dropdown-menu animate slide-in" id="dropdownHover" aria-labelledby="dropdownMenu">
            <a class="dropdown-item" href="carInfo">Bil</a>
            <a class="dropdown-item" href="mopedInfo">Moped</a>
          </div>
        </li>
        <li class="nav-item">
          <a class="nav-link" id="link" href="contact">Kontakta oss</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" id="link" href="location">Hitta hit</a>
        </li>
      </ul>

    </div>
  </nav>
  <!--NAV END-->

  <!--COVER IMAGE-->
  <img src="/images/cover.jpeg" class="img-fluid" style="width: 100%">

  <!--WELCOME SECTION-->
  <div class="jumbotron p-3 p-md-5 text-white bg-dark">
    <div class="col-md-7 px-0">
      <h1 class="display-4 font-italic">Välkommen till Bosses Trafikskola - Västsveriges största trafikskola</h1>
      <p class="lead my-3">Hos oss kan du öva alla sorters körskort. Vi finns på två platser i Västsverige - Kungälv och
        Stenungsund.
        Vi erbjuder flera olika paket till humana priser och under proffesionell handledning. </p>
      <p class="lead mb-0">Välkommmen in, eller boka direkt på hemsidan. Om du har några frågor så är det bara att slå
        oss en signal.</p>
    </div>
  </div>
  <!--WELCOME SECTION END-->

  <!--CAROUSEL WITH EJS-->
  <h5 class="section-title h1 text-center mb-6">Rescensioner</h5>
  <div id="carouselExampleControls" class="carousel slide carousel-fade" data-ride="carousel">
    <div class="carousel-inner">
      <div class="carousel-item active">

        <section class="pb-5">

          <div class="container">

            <div class="row">
              <!--EJS START-->
              <% for( let i = 0; i < posts.length; i++ ) { %>

              <div class="col-sm-6 col-md-4 mb-4">

                <div class="card">

                  <div class="card-body text-center">

                    <h4 class="card-title"><%= posts[i].username %> </h4>
                    <p class="card-text"> <%= posts[i].message %> </p>
                    <div class="stars">
                      <form>
                        <% if (posts[i].stars == 5) { %>
                        <input class="star star-5" id="stars-5" type="radio" name="star" checked />
                        <label class="star star-5" for="star-5"></label>
                        <input class="star star-4" id="stars-4" type="radio" name="star" />
                        <label class="star star-4" for="star-4"></label>

                        <input class="star star-3" id="stars-3" type="radio" name="star" />
                        <label class="star star-3" for="star-3"></label>

                        <input class="star star-2" id="stars-2" type="radio" name="star" />
                        <label class="star star-2" for="star-2"></label>

                        <input class="star star-1" id="stars-1" type="radio" name="star" />
                        <label class="star star-1" for="star-1"></label>
                        <% } else if (posts[i].stars == 4) { %>
                        <input class="star star-5" id="stars-5" type="radio" name="star" />
                        <label class="star star-5" for="star-5"></label>
                        <input class="star star-4" id="stars-4" type="radio" name="star" checked />
                        <label class="star star-4" for="star-4"></label>

                        <input class="star star-3" id="stars-3" type="radio" name="star" />
                        <label class="star star-3" for="star-3"></label>

                        <input class="star star-2" id="stars-2" type="radio" name="star" />
                        <label class="star star-2" for="star-2"></label>

                        <input class="star star-1" id="stars-1" type="radio" name="star" />
                        <label class="star star-1" for="star-1"></label>
                        <% } else if (posts[i].stars == 3) { %>
                        <input class="star star-5" id="stars-5" type="radio" name="star" />
                        <label class="star star-5" for="star-5"></label>
                        <input class="star star-4" id="stars-4" type="radio" name="star" />
                        <label class="star star-4" for="star-4"></label>

                        <input class="star star-3" id="stars-3" type="radio" name="star" checked />
                        <label class="star star-3" for="star-3"></label>

                        <input class="star star-2" id="stars-2" type="radio" name="star" />
                        <label class="star star-2" for="star-2"></label>

                        <input class="star star-1" id="stars-1" type="radio" name="star" />
                        <label class="star star-1" for="star-1"></label>
                        <% } else if (posts[i].stars == 2) { %>
                        <input class="star star-5" id="stars-5" type="radio" name="star" />
                        <label class="star star-5" for="star-5"></label>
                        <input class="star star-4" id="stars-4" type="radio" name="star" />
                        <label class="star star-4" for="star-4"></label>

                        <input class="star star-3" id="stars-3" type="radio" name="star" />
                        <label class="star star-3" for="star-3"></label>

                        <input class="star star-2" id="stars-2" type="radio" name="star" checked />
                        <label class="star star-2" for="star-2"></label>

                        <input class="star star-1" id="stars-1" type="radio" name="star" />
                        <label class="star star-1" for="star-1"></label>
                        <%} else if (posts[i].stars == 1) { %>
                        <input class="star star-5" id="stars-5" type="radio" name="star" />
                        <label class="star star-5" for="star-5"></label>
                        <input class="star star-4" id="stars-4" type="radio" name="star" />
                        <label class="star star-4" for="star-4"></label>

                        <input class="star star-3" id="stars-3" type="radio" name="star" />
                        <label class="star star-3" for="star-3"></label>

                        <input class="star star-2" id="stars-2" type="radio" name="star" />
                        <label class="star star-2" for="star-2"></label>

                        <input class="star star-1" id="stars-1" type="radio" name="star" checked />
                        <label class="star star-1" for="star-1"></label>
                        <% } %>
                      </form>
                    </div>
                  </div>
                </div>
              </div>
              <% if (i == 2) { %>
              <% break; %>
              <% } %>
              <% } %>
              <!--EJS END-->
            </div>
          </div>
        </section>
      </div>
      <!--SECOND CARUOSEL ITEM-->
      <div class="carousel-item">
        <section class="pb-5">

          <div class="container">

            <div class="row">
              <!--EJS START-->
              <% for( let i = 3; i < posts.length; i++ ) { %>

              <div class="col-sm-6 col-md-4 mb-4">

                <div class="card">

                  <div class="card-body text-center">

                    <h4 class="card-title"><%= posts[i].username %> </h4>
                    <p class="card-text"> <%= posts[i].message %> </p>
                    <div class="stars">
                      <form>
                        <% if (posts[i].stars == 5) { %>
                        <input class="star star-5" id="stars-5" type="radio" name="star" checked />
                        <label class="star star-5" for="star-5"></label>
                        <input class="star star-4" id="stars-4" type="radio" name="star" />
                        <label class="star star-4" for="star-4"></label>

                        <input class="star star-3" id="stars-3" type="radio" name="star" />
                        <label class="star star-3" for="star-3"></label>

                        <input class="star star-2" id="stars-2" type="radio" name="star" />
                        <label class="star star-2" for="star-2"></label>

                        <input class="star star-1" id="stars-1" type="radio" name="star" />
                        <label class="star star-1" for="star-1"></label>
                        <% } else if (posts[i].stars == 4) { %>
                        <input class="star star-5" id="stars-5" type="radio" name="star" />
                        <label class="star star-5" for="star-5"></label>
                        <input class="star star-4" id="stars-4" type="radio" name="star" checked />
                        <label class="star star-4" for="star-4"></label>

                        <input class="star star-3" id="stars-3" type="radio" name="star" />
                        <label class="star star-3" for="star-3"></label>

                        <input class="star star-2" id="stars-2" type="radio" name="star" />
                        <label class="star star-2" for="star-2"></label>

                        <input class="star star-1" id="stars-1" type="radio" name="star" />
                        <label class="star star-1" for="star-1"></label>
                        <% } else if (posts[i].stars == 3) { %>
                        <input class="star star-5" id="stars-5" type="radio" name="star" />
                        <label class="star star-5" for="star-5"></label>
                        <input class="star star-4" id="stars-4" type="radio" name="star" />
                        <label class="star star-4" for="star-4"></label>

                        <input class="star star-3" id="stars-3" type="radio" name="star" checked />
                        <label class="star star-3" for="star-3"></label>

                        <input class="star star-2" id="stars-2" type="radio" name="star" />
                        <label class="star star-2" for="star-2"></label>

                        <input class="star star-1" id="stars-1" type="radio" name="star" />
                        <label class="star star-1" for="star-1"></label>
                        <% } else if (posts[i].stars == 2) { %>
                        <input class="star star-5" id="stars-5" type="radio" name="star" />
                        <label class="star star-5" for="star-5"></label>
                        <input class="star star-4" id="stars-4" type="radio" name="star" />
                        <label class="star star-4" for="star-4"></label>

                        <input class="star star-3" id="stars-3" type="radio" name="star" />
                        <label class="star star-3" for="star-3"></label>

                        <input class="star star-2" id="stars-2" type="radio" name="star" checked />
                        <label class="star star-2" for="star-2"></label>

                        <input class="star star-1" id="stars-1" type="radio" name="star" />
                        <label class="star star-1" for="star-1"></label>
                        <%} else if (posts[i].stars == 1) { %>
                        <input class="star star-5" id="stars-5" type="radio" name="star" />
                        <label class="star star-5" for="star-5"></label>
                        <input class="star star-4" id="stars-4" type="radio" name="star" />
                        <label class="star star-4" for="star-4"></label>

                        <input class="star star-3" id="stars-3" type="radio" name="star" />
                        <label class="star star-3" for="star-3"></label>

                        <input class="star star-2" id="stars-2" type="radio" name="star" />
                        <label class="star star-2" for="star-2"></label>

                        <input class="star star-1" id="stars-1" type="radio" name="star" checked />
                        <label class="star star-1" for="star-1"></label>
                        <% } %>
                      </form>
                    </div>
                  </div>
                </div>
              </div>
              <% if (i == 5) { %>
              <% break; %>
              <% } %>
              <% } %>
              <!--EJS END-->
            </div>
          </div>
        </section>
      </div>
    </div>
  </div>
  <!--CAROUSEL FULL END-->

  <!--SIGNUP FORM-->
  <div class="text-center text-md-left mt-2" id="cAction">
    <div class="row">
      <div class="col-md-7 mx-auto">
        <div class="container">
          <form method="POST" action="/" id="form1">
            <h1>Skicka din anmälan!</h1>
            <p>Vi återkommer med ett svar på din ansökan så du kan välja rätt kurs.</p>
            <div class="form-row">
              <div class="form-group col-md-6">
                <label for="inputName">Förnamn</label>
                <input type="text" class="form-control" name="inputName" placeholder="Förnamn" required>
              </div>
              <div class="form-group col-md-6">
                <label for="inputLName">Efternamn</label>
                <input type="text" class="form-control" name="inputLName" placeholder="Efternamn" required>
              </div>
            </div>
            <div class="form-group">
              <label for="inputEmail">Email</label>
              <input type="email" class="form-control" name="inputEmail" placeholder="förnamn.efternam@email.se"
                required>
            </div>
            <div class="form-group">
              <label for="inputAddress">Address</label>
              <input type="text" class="form-control" name="inputAddress" placeholder="Address" required>
            </div>
            <div class="form-row">
              <div class="form-group col-md-6">
                <label for="inputNumber">Telefonnummer</label>
                <input type="text" class="form-control" name="inputNumber" placeholder="+46123456789" required>
              </div>
              <div class="form-group col-md-4">
                <label for="inputCity">Ort</label>
                <input type="text" class="form-control" name="inputCity" placeholder="Stenungsund" required>
              </div>
              <div class="form-group col-md-2">
                <label for="inputZip">Postnummer</label>
                <input type="text" class="form-control" name="inputZip" placeholder="12345" required>
              </div>
            </div>
            <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#modalWindow"
              onclick="buildForm()">Skicka!</button>

            <div class="modal fade" role="dialog" id="modalWindow" tabindex="-1" aria-labelledby="#modalLabel"
              aria-hidden="true">
              <div class="modal-dialog" role="document">
                <div class="modal-content">
                  <div class="modal-header">
                    <h5 class="modal-title" id="modalLabel">Bekräfta din anmälan.</h5>
                    <button type="button" class="close" aria-label="Close" data-dismiss="modal">
                      <span aria-hidden="true">&times;</span>
                    </button>
                  </div>
                  <div class="modal-body">
                    <p>Var vänlig vänta ett par dagar så att vi kan behandla din ansökan. Om det skulle vara fullt så
                      återkommer vi via mail. Var god
                      bekräfta din anmälan nedan för att skicka in din ansökan.
                      <br><br>
                      - Bosses Trafikskola
                    </p>
                  </div>
                  <div class="modal-footer">
                    <button class="btn btn-success btn-secondary" id="submit">Skicka</button>
                  </div>
                </div>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
  <!--SIGNUP FORM END-->

  <!--NEWS-->
  <section class="jumbotron text-center mt-5">
    <div class="container">
      <h1 class="jumbotron-heading mb-4">Nyheter</h1>
      <p class="lead text-dark text-left">En del ändringar kommer att ske under 2021. Bland annat prisändringar och
        tider som vi erbjuder lektioner på. Nedan finner du vad som specifikt ändras. För er som redan är kund hos oss,
        har blivit meddelade genom mail.</p>
      <div class="list lead text-dark text-left">
        <ul>
          <li>
            <h4>Priset för mopedutbildningen kommer att höjas med 300kr på grund av lågt tryck.</h4>
          </li>
          <li>
            <h4>Vi kommer att dra in på antal lektioner som erbjuds under dagstider. Detta för att fler börjar jobba.
            </h4>
          </li>
          <li>
            <h4>Sist, men inte minst så kommer vi att erbjuda distanslektioner för teoridelen av mopedutbildningen.</h4>
          </li>
        </ul>

        Detta var alla ändringar för i år. Tack och god fortsättning. <br>
        - Bosses Trafikskola
      </div>
    </div>
  </section>
  <!--NEWS END-->

  <!--Rescensioner-->
  <div class="text-center text-md-left ml-3 mr-3 mb-4">
    <div class="row">

      <div class="col-md-4 mt-4 mx-auto">
        <h3>Vad tyckte du?</h3>
        <p class="lead text-dark">Vi hos Bosses Trafikskola ser gärna att du som elev lägger ett omdöme på vad du tyckte
          var bra och vad du ansåg var mindre bra. Det är viktigt för oss som jobbar här så att antingen skolan i sig
          kan förbättras eller så att lärandet kan förändras - till något bättre. <br><br> För hos Bosses Trafikskola
          står eleven <em>alltid</em> i centrum.</p>

      </div>

      <div class="col-md-4 mx-auto mt-4">
        <h3>Berätta om din upplevelse hos <br> Bosses Trafikskola.</h3>
        <form action="/review" method="POST">
          <div class="form-group">
            <label for="inputUsername">Namn</label>
            <input type="text" class="form-control" name="inputUsername" placeholder="Namn" required>
          </div>
          <div class="form-group">
            <label for="inputReview">Om</label>
            <textarea type="text" class="form-control" rows="3" name="inputReview" placeholder="Skriv vad du tyckte!"
              maxlength="40" required></textarea>

          </div>
          <div class="form-group">
            <div class="width">


              <div class="stars2">

                <input class="star2 star2-5" id="star2-5" type="radio" name="star" value="5" required />
                <label class="star2 star2-5" for="star2-5"></label>

                <input class="star2 star2-4" id="star2-4" type="radio" name="star" value="4" required />
                <label class="star2 star2-4" for="star2-4"></label>

                <input class="star2 star2-3" id="star2-3" type="radio" name="star" value="3" required />
                <label class="star2 star2-3" for="star2-3"></label>

                <input class="star2 star2-2" id="star2-2" type="radio" name="star" value="2" required />
                <label class="star2 star2-2" for="star2-2"></label>

                <input class="star2 star2-1" id="star2-1" type="radio" name="star" value="1" required />
                <label class="star2 star2-1" for="star2-1"></label>

              </div>
            </div>
          </div>
          <button type="submit" class="btn btn-primary">Skicka</button>
        </form>
      </div>
    </div>
  </div>
  <!--REVIEW END-->

  <!--FOOTER-->
  <footer class="page-footer font-small stylish-color-dark bg-dark pt-4">
    <div class="container text-center text-md-left">
      <div class="row">
        <div class="col-md-4 mx-auto">
          <h5 class="font-weight-bold text-uppercase mt-3 mb-4">Om oss</h5>
          <p>Vi på Bosses Trafikskola ser till att du som elev får den bästa möjliga utbildningen, så att du
            kan ta ditt körkort så snart som möjligt, och dessutom till ett lågt pris.
            <br><br>
            Hjärtligt välkommen till Bosses Trafikskola i Stenungsund, där eleven <em>alltid</em> är i centrum!</p>
        </div>

        <div class="col-md-2 mx-auto">
          <h5 class="font-weight-bold text-uppercase mt-3 mb-4">Länkar</h5>
          <div class="footer-links mx-auto">
            <ul class="list-inline">
              <li>
                <a href="https://www.transportstyrelsen.se/sv/vagtrafik/">Transportstyrelsen</a>
              </li>
              <li>
                <a href="https://www.transportstyrelsen.se/korkort">Körkortsportalen</a>
              </li>
              <li>
                <a href="https://www.trafikverket.se/">Trafikverket</a>
              </li>
              <li>
                <a href="https://www.str.se/">STR</a>
              </li>
            </ul>
          </div>
        </div>
        <div class="col-md-2 mx-auto">
          <h5 class="font-weight-bold text-uppercase mt-3 mb-4">Blanketter</h5>
          <div class="footer-links mx-auto">
            <ul class="list-inline">
              <li>
                <a
                  href="http://www.korkortsportalen.se/e-tjanster-blanketter/Information-om-ansokan-om-korkortstillstand-for-grupp-/">Körkortstillstånd</a>
              </li>
              <li>
                <a
                  href="http://www.korkortsportalen.se/e-tjanster-blanketter/Ansokan-om-handledarskap-steg-1/">Handledarskap</a>
              </li>
              <li>
                <a href="http://www.korkortsportalen.se/e-tjanster/">Körkortsportalen</a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>

    <hr>

    <ul class="list-unstyled list-inline text-center py-2">
      <li class="list-inline-item">
        <h5 class="mb-1">Anmäl dig redan idag!</h5>
      </li>
      <li class="py-2">
        <a href="#cAction" class="btn btn-danger btn-rounded">Klicka här</a>
      </li>
    </ul>
    <hr>
    <div class="text-center py-3 blockquote-footer">
      <p>© 2020 Copyright: Bosses Trafikskola</p>
    </div>
  </footer>
  <!--FOOTER END-->

</body>
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
  integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
  integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
  integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

<script>
  function buildForm() { //Builds the form instead of directly submitting it. In order for the modal to work properly this was neccessary.
    var form = document.getElementById("form1");
    document.getElementById("submit").addEventListener("click", function () {
      form.submit();
    });
  }
</script>

</html>