<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Hitta hit - Bosses Trafikskola</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
    integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <link rel="stylesheet" href="main.css">

  <!--FAVICONS-->
  <link rel="apple-touch-icon" sizes="180x180" href="/favicons/apple-touch-icon.png">
  <link rel="icon" type="image/png" sizes="32x32" href="/favicons/favicon-32x32.png">
  <link rel="manifest" href="/favicons/site.webmanifest">
  <link rel="mask-icon" href="/favicons/safari-pinned-tab.svg" color="#5bbad5">
  <meta name="msapplication-TileColor" content="#da532c">
  <meta name="theme-color" content="#ffffff">
</head>

<body>
  <!--NAV-->
  <nav class="navbar navbar-expand-lg navbar-dark">
    <a class="navbar-brand" href="/"><img src="images/logga.png" width="150vh"></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar" aria-controls="navbar"
      aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="navbar-collapse collapse" id="navbar">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link" id="link" href="/">Start</a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" id="link" href="#" id="dropdownMenu" data-toggle="dropdown"
            aria-haspopup="true" aria-expanded="false">Priser</a>
          <div class="dropdown-menu animate slide-in" aria-labelledby="dropdownMenu">
            <a class="dropdown-item" id="link" href="carInfo">Bil</a>
            <a class="dropdown-item" id="link" href="mopedInfo">Moped</a>
          </div>
        </li>
        <li class="nav-item">
          <a class="nav-link" id="link" href="contact">Kontakta oss</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" id="link" href="location">Hitta hit</a>
        </li>
      </ul>

    </div>
  </nav>
  <!--NAV END-->

  <!--LOCATION-->
  <div class="jumbotron jumboColor">
    <div class="container">
      <h3>Hitta hit</h3>
      <p><br> Våran hembas ligger inte långt ifrån centrum i Stenungsund och det finns goda förbindelser hit. Det finns
        bland annat både tåg och buss. <br> Nedan finner du lite information om öppetider och annan
        viktig info. Dessutom finns det en karta för att hitta hit. </p>
    </div>
    <div class="container mb-5">
      <div class="col-md-5">
        <h5 class="font-weight-bold text-uppercase mt-4 mb-4">Notera</h5>
        <div class="contact-links">
          <ul class="openingHours">
            <li>
              <p>Öppetider:</p>
            </li>
            <ul>
              <li>
                <p>Måndag - Torsdag: <br>13:00 - 18:00</p>
              </li>
              <li>
                <p>Fredag: Stängt</p>
              </li>
              <li>
                <p> Lördag och Söndag: Stängt</p>
              </li>
            </ul>
            <li>
              <p>Om du är här tidigt så går det bra att vänta utanför.</p>
            </li>
            <li>
              <p>Om du har en inbokad lektion tidigt på morgonen så går det bra att vänta vid våran parkering.</p>
            </li>
            <li>
              <p>Ifall du vill plugga teori på skolan så är det bara att komma in när vi har öppet. Det finns salar
                specifikt för detta.</p>
            </li>
          </ul>
        </div>
      </div>
      <p>Nedan finner du en en karta som kan användas för att hitta hit. <br>Addressen hit är: Gärdesvägen 2-4, 444 31
        Stenungsund <br>Skulle ni av någon anledning inte hitta hit så är det bara att slå oss en signal: <a
          href="tel:0303-240495 ">0303-24 04 95</a>. </p>
      <div class="embed-responsive embed-responsive-16by9">
        <div class="embed-responsive-item">
          <iframe width="600" height="450" style="border-radius: 1rem;"
            src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2109.9523044557186!2d11.822729331503558!3d58.073281059790126!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0xa52906426bb1df37!2sBosses%20Trafikskola%2C%20Stenungsund!5e0!3m2!1ssv!2sse!4v1609343589625!5m2!1ssv!2sse"
            allowfullscreen>
          </iframe>
        </div>
      </div>
    </div>
  </div>
  <!--LOCATION END-->

  <!--FOOTER-->
  <footer class="page-footer font-small stylish-color-dark bg-dark pt-4">
    <div class="container text-center text-md-left">
      <div class="row">
        <div class="col-md-4 mx-auto">
          <h5 class="font-weight-bold text-uppercase mt-3 mb-4">Om oss</h5>
          <p>Vi på Bosses Trafikskola ser till att du som elev får den bästa möjliga utbildningen, så att du
            kan ta ditt körkort så snart som möjligt, och dessutom till ett lågt pris.
            <br><br>
            Hjärtligt välkommen till Bosses Trafikskola i Stenungsund, där eleven <em>alltid</em> är i centrum!</p>
        </div>

        <div class="col-md-2 mx-auto">
          <h5 class="font-weight-bold text-uppercase mt-3 mb-4">Länkar</h5>
          <div class="footer-links mx-auto">
            <ul class="list-inline">
              <li>
                <a href="https://www.transportstyrelsen.se/sv/vagtrafik/">Transportstyrelsen</a>
              </li>
              <li>
                <a href="https://www.transportstyrelsen.se/korkort">Körkortsportalen</a>
              </li>
              <li>
                <a href="https://www.trafikverket.se/">Trafikverket</a>
              </li>
              <li>
                <a href="https://www.str.se/">STR</a>
              </li>
            </ul>
          </div>
        </div>
        <div class="col-md-2 mx-auto">
          <h5 class="font-weight-bold text-uppercase mt-3 mb-4">Blanketter</h5>
          <div class="footer-links mx-auto">
            <ul class="list-inline">
              <li>
                <a
                  href="http://www.korkortsportalen.se/e-tjanster-blanketter/Information-om-ansokan-om-korkortstillstand-for-grupp-/">Körkortstillstånd</a>
              </li>
              <li>
                <a
                  href="http://www.korkortsportalen.se/e-tjanster-blanketter/Ansokan-om-handledarskap-steg-1/">Handledarskap</a>
              </li>
              <li>
                <a href="http://www.korkortsportalen.se/e-tjanster/">Körkortsportalen</a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>

    <hr>

    <ul class="list-unstyled list-inline text-center py-2">
      <li class="list-inline-item">
        <h5 class="mb-1">Anmäl dig redan idag!</h5>
      </li>
      <li class="py-2">
        <a href="/#cAction" class="btn btn-danger btn-rounded">Klicka här</a>
      </li>
    </ul>
    <hr>
    <div class="text-center py-3 blockquote-footer">
      <p>© 2020 Copyright: Bosses Trafikskola</p>
    </div>
  </footer>
  <!--FOOTER END-->

</body>
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
  integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
  integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
  integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

</html>