<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Moped - Bosses Trafikskola</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
    integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <link rel="stylesheet" href="main.css">

  <!--FAVICONS-->
  <link rel="apple-touch-icon" sizes="180x180" href="/favicons/apple-touch-icon.png">
  <link rel="icon" type="image/png" sizes="32x32" href="/favicons/favicon-32x32.png">
  <link rel="manifest" href="/favicons/site.webmanifest">
  <link rel="mask-icon" href="/favicons/safari-pinned-tab.svg" color="#5bbad5">
  <meta name="msapplication-TileColor" content="#da532c">
  <meta name="theme-color" content="#ffffff">
</head>

<body>
  <!--NAV-->
  <nav class="navbar navbar-expand-lg navbar-dark">
    <a class="navbar-brand" href="/"><img src="images/logga.png" width="150vh"></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar" aria-controls="navbar"
      aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="navbar-collapse collapse" id="navbar">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link" id="link" href="/">Start</a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" id="link" href="#" id="dropdownMenu" data-toggle="dropdown" aria-haspopup="true"
            aria-expanded="false">Priser</a>
          <div class="dropdown-menu animate slide-in" aria-labelledby="dropdownMenu">
            <a class="dropdown-item" id="link" href="carInfo">Bil</a>
            <a class="dropdown-item" id="link" href="mopedInfo">Moped</a>
          </div>
        </li>
        <li class="nav-item">
          <a class="nav-link" id="link" href="contact">Kontakta oss</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" id="link" href="location">Hitta hit</a>
        </li>
      </ul>

    </div>
  </nav>
  <!--NAV END-->

  <!--INFORMATION-->
  <div class="jumbotron jumboColor pb-0">
    <div class="container">
      <div class="col-md-8 pl-0">
        <h3 class="title">Moped</h3>
        <p>För våra blivande unga förare så erbjuder vi ett mopedkortspaket. I paketet får man teoretiska samt praktiska lektioner. 
          <br><br>
          <div class="container mb-5 pl-0">
            <div class="col-md-8 pl-0">
              <h5 class="font-weight-bold text-uppercase mt-4 mb-4">Moped Klass 1 (AM)</h5>
              <h6 class="pb-2">Information om mopedkursen:</h6>
              <div class="contact-links">
                <ul>
                  <li>
                    Pris: 2695:-
                  </li>
                  <li>
                    Teorin är 8 timmar uppdelad över 4 st lektionstillfällen.
                  </li>
                  <li>
                    Man skall genomgå en manöverkörning där man lär sig säkerhetskontroll balans och korrekt inbromsning.
                  </li>
                  
                  <li>
                    Man kommer även att köra i trafiken vid två tillfällen.
                  </li>
                  <ul>
                    <li>
                      <b>Lektion 1:</b> 80 min stadskörning.
                    </li>
                    <li>
                      <b>Lektion 2:</b> 80 min landsvägskörning.
                    </li>
                  </ul>
                </ul>
              </div>
              <p>När man har blivit godkänd på manöverkörningen så kan man boka in lektion 1 och 2 manuellt i samråd med din körskolelärare (lektionerna ingår i priset). <br><br> Efter genomförandet av de praktiska lektionerna kommer kontoret registrera dig till transportstyrelsen så du blir beviljad att skriva det slutgiltliga teoriprovet som görs på trafikverket.</p>
            </div>
          </div>
        </p>
      </div>
    </div>
  </div>
  <!--INFORMATION END-->


  <!--FOOTER-->
  <footer class="page-footer font-small stylish-color-dark bg-dark pt-4">
    <div class="container text-center text-md-left">
      <div class="row">
        <div class="col-md-4 mx-auto">
          <h5 class="font-weight-bold text-uppercase mt-3 mb-4">Om oss</h5>
          <p>Vi på Bosses Trafikskola ser till att du som elev får den bästa möjliga utbildningen, så att du
            kan ta ditt körkort så snart som möjligt, och dessutom till ett lågt pris.
            <br><br>
            Hjärtligt välkommen till Bosses Trafikskola i Stenungsund, där eleven <em>alltid</em> är i centrum!</p>
        </div>

        <div class="col-md-2 mx-auto">
          <h5 class="font-weight-bold text-uppercase mt-3 mb-4">Länkar</h5>
          <div class="footer-links mx-auto">
            <ul class="list-inline">
              <li>
                <a href="https://www.transportstyrelsen.se/sv/vagtrafik/">Transportstyrelsen</a>
              </li>
              <li>
                <a href="https://www.transportstyrelsen.se/korkort">Körkortsportalen</a>
              </li>
              <li>
                <a href="https://www.trafikverket.se/">Trafikverket</a>
              </li>
              <li>
                <a href="https://www.str.se/">STR</a>
              </li>
            </ul>
          </div>
        </div>
        <div class="col-md-2 mx-auto">
          <h5 class="font-weight-bold text-uppercase mt-3 mb-4">Blanketter</h5>
          <div class="footer-links mx-auto">
            <ul class="list-inline">
              <li>
                <a
                  href="http://www.korkortsportalen.se/e-tjanster-blanketter/Information-om-ansokan-om-korkortstillstand-for-grupp-/">Körkortstillstånd</a>
              </li>
              <li>
                <a
                  href="http://www.korkortsportalen.se/e-tjanster-blanketter/Ansokan-om-handledarskap-steg-1/">Handledarskap</a>
              </li>
              <li>
                <a href="http://www.korkortsportalen.se/e-tjanster/">Körkortsportalen</a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>

    <hr>

    <ul class="list-unstyled list-inline text-center py-2">
      <li class="list-inline-item">
        <h5 class="mb-1">Anmäl dig redan idag!</h5>
      </li>
      <li class="py-2">
        <a href="/#cAction" class="btn btn-danger btn-rounded">Klicka här</a>
      </li>
    </ul>
    <hr>
    <div class="text-center py-3 blockquote-footer">
      <p>© 2020 Copyright: Bosses Trafikskola</p>
    </div>
  </footer>
  <!--FOOTER END-->

</body>
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
  integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
  integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
  integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

</html>